body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f7;
}

.name{
    color: #007aff;
    text-align: center;
}

nav{
    background-color: #303030;
    color: #f2f2f7;
    padding: 0px;
}

ul{
    margin: 0;
    padding: 0;
}

.navItems{
    list-style-type: none;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}

li a{
    display: block;
    color: #f2f2f7;
    text-decoration: none;
}

li{
    color: #86868b;
    list-style-type: none;
}

.title{
    color: #1d1d1f;
    margin: 0px;
}


.box{
    background-color: #ffffff;
    text-align: center;
    color: #d0d0d0;
    padding: 16px;
    border-radius: 16px;
}

li #title{
	color: #007aff;
	margin: 32px 0px 8px 0px;
}

.container{
	display: flex;
	justify-content: center;
	margin-top: 32px;
	margin-left: 32px;
}

#smallBox{
	margin-right: 32px;
}

#bigBox{
	margin: 32px;
}
.copyright{
	text-align: center;
}
