body{
	margin: 0 !important;
	padding: 0 !important;
	background-color: #f2f2f7;
}

.name{
	text-align: center;
	color: #f2f2f7;
}

.contactMe{
	background-color: #ffffff;
	border-radius: 16px;
	margin: 8px 32px 0px 32px;
	padding: 8px;
}

nav{
	padding: 1px;
	background-color: #141414;
}

ul{
    margin: 0;
    padding: 0px 0px 8px 0px;
}

.navItems{
    list-style-type: none;
    text-align: center;
}

#email{
	color: #007aff;
	padding-bottom: 8px;
}

li a{
    display: block;
    text-decoration: none;
    color: #86868b;
}

li{
    color: #86868b;
    list-style-type: none;
}

.title{
	color: #1d1d1f;
	text-align: center;
}

.box{
    background-color: #ffffff;
    text-align: center;
    color: #d0d0d0;
    padding: 16px;
    border-radius: 16px;
}

li #title{
	color: #007aff;
	margin: 32px 0px 8px 0px;
}

.container{
	display: flex;
	justify-content: center;
	margin-top: 32px;
	margin-left: 32px;
}

#smallBox{
	margin-right: 32px;
	width: auto;
}

#bigBox{
	margin: 32px;
}

.copyright{
	text-align: center;
}
