* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f2f7;
}

nav {
	background-color: #141414;
	color: #f2f2f7;
	text-align: center;
	padding: 8px;
}

section {
	margin: 16px 8px;
}

.box {
	background-color: #ffffff;
	border-radius: 16px;
	text-align: center;
	flex-grow: 1;
	margin: 8px;
	padding: 16px;
}

.title {
	color: #141414;
}

ul {
	margin: 0;
	padding: 0;
}

.subTitle {
	color: #007aff;
	margin: 8px 16px 0px 16px;
}

.subTitle a {
	text-decoration: none;
	color: #007aff;
}

li a {
	color: #86868b;
	text-decoration: none;
}

li {
	color: #86868b;
	list-style-type: none;
}

.boxes {
	display: flex;
	justify-content: center;
}

sup {
	color: #86868b;
}

.copyright {
	text-align: center;
	padding-bottom: 8px;
}